<%= form_for @point, :html => { :class => 'form-horizontal form-model new-point' } do |f| %>

    <%= f.text_area :description, :class => 'text-field form-control new-point' %>

    <div id="point_metadata" style="display:none">
	    <%= f.text_field :moment, :class => 'text-field form-control', :placeholder => 'When was this?' %>

	    <%= f.text_field :location, :class => 'text-field form-control', :placeholder => 'Where were you?' %>

	    <%= f.text_field :accomplices, :class => 'text-field form-control', :placeholder => 'Who was with you? (optional)' %>
	</div>

	<%= f.submit 'Share your story', :class => 'btn btn-primary', style: "width:100%" %>

	<script type="text/javascript">
		function slideAppropriately() {
			if( $('#point_description').val().length > 0 ){
				$("#point_metadata").slideDown();
			} else {
				$("#point_metadata").slideUp();
			}
		}
		$("#point_description").change(function() { slideAppropriately() });
		$("#point_description").keyup(function() { slideAppropriately() });
		$("#point_description").focus(function() { slideAppropriately() });
		$("#point_description").blur(function() { slideAppropriately() });
	</script>
<% end %>
