<%= form_for @point, :html => { :class => 'form-horizontal form-model new-point' } do |f| %>

    <%= f.text_area :description, :class => 'text-field form-control new-point', :placeholder => 'Share your story' %>

    <div id="point_metadata" style="display:none">
	    <%= f.text_field :moment, :class => 'text-field form-control', :placeholder => 'When was this?' %>

	    <%= f.text_field :location, :class => 'text-field form-control', :placeholder => 'Where were you?' %>

	    <%= f.text_field :accomplices, :class => 'text-field form-control', :placeholder => 'Who was with you? (optional)' %>
	</div>

	<%= f.submit 'Share your light', :class => 'btn btn-primary', style: "width:100%" %>

	<script type="text/javascript">
		$("#point_description").focus(function() {
			$("#point_metadata").slideDown();
		});
		$("#point_description").blur(function() {
			if(typeof $('textarea#mytextarea').val() == 'undefined'){
				$("#point_metadata").slideUp();
			}
		});
	</script>
<% end %>
