<div class="content-box point">
	<div class="actions">
		<% if user_signed_in? && current_user.id == point.user.id %>
	        <%= link_to 'Edit', edit_point_path(point) %>
	        &middot;
        	<%= link_to 'Delete', point_path(point),
                    :method => 'delete',
                    :data => { :confirm => 'Are you sure? This can\'t be undone!' } %>
		<% end %>
	</div>

	<div class="author">
		Shared by <%= link_to point.user.display_name, person_path(:id => point.user.username ) %>
		on <%= point.created_at.strftime("%B %d, %Y") %>
	</div>
	
	<div class="description">
		<%= h point.description %>
	</div>
	
<!-- 	<hr />

	<div class="interactions">
		TODO Likes
	</div> -->
	
<!-- 	<hr />

	<div class="responses">
		TODO Comments
	</div> -->
</div>
