<div class="content-box point">
	<div class="actions">
		<% if user_signed_in? && current_user.id == point.user.id %>
	        <%= link_to 'Edit', edit_point_path(point) %>
	        &middot;
        	<%= link_to 'Delete', point_path(point),
                    :method => 'delete',
                    :data => { :confirm => 'Are you sure? This can\'t be undone!' } %>
		<% end %>
	</div>

	<div class="author">
		<%= link_to point.user.display_name, person_path(:id => point.user.username ) %><% unless point.accomplices.to_s.empty? %>, <%= h point.accomplices %><% end %>
		<br />
		<%= h point.moment %>, 
		<strong><%= h point.location %></strong>
	</div>

	<div class="description">
		<%= h point.description %>
	</div>

	<%- reputation = point.get_likes.size %>
	<%- reputation_id = 'reputation'+point.id.to_s %>
	<%- reputation_block_id = 'reputation_block'+point.id.to_s %>
	<%- reputation_block_style = '' %>
	<%- if reputation == 0 %>
		<%- reputation_block_style = 'display:none' %>
	<%- end %>

	<% unless reputation == 0 && current_user.id == point.user.id %>

	<hr />

	<div class="interactions">

		<% if user_signed_in? && current_user.id != point.user.id %>
		<span class="liking">
			<%- like_id = 'like'+point.id.to_s %>
			<%- unlike_id = 'unlike'+point.id.to_s %>
			<%- unlike_style = '' %>
			<%- like_style = '' %>
			<%- if current_user.liked? point %>
				<%- like_style = 'display: none;' %>
			<%- else %>
				<%- unlike_style = 'display: none;' %>
			<%- end %>

			<%= link_to like_point_path(:id => point.id, :format => :json), method: :get, style: like_style, class: 'like', id: like_id, :remote => true do %>Like<% end %>
			<%= link_to unlike_point_path(:id => point.id, :format => :json), method: :get, style: unlike_style, class: 'like', id: unlike_id, :remote => true do %>Unlike<% end %>

			<script type="text/javascript">
				$('#<%= like_id %>').bind('ajax:complete', function() {
					$('#<%= like_id %>').hide();
					$('#<%= unlike_id %>').show();
				    var reputation = document.getElementById('<%= reputation_id %>');
				    var score = reputation.innerHTML;
				    score++;
				    reputation.innerHTML = score;
				    if(score==0){
				    	$('#<%= reputation_block_id %>').hide();
				    }else{
				    	$('#<%= reputation_block_id %>').show();
				    }
				});

				$('#<%= unlike_id %>').bind('ajax:complete', function() {
					$('#<%= like_id %>').show();
					$('#<%= unlike_id %>').hide();
				    var reputation = document.getElementById('<%= reputation_id %>');
				    var score = reputation.innerHTML;
				    score--;
				    reputation.innerHTML = score;
				    if(score==0){
				    	$('#<%= reputation_block_id %>').hide();
				    }else{
				    	$('#<%= reputation_block_id %>').show();
				    }
				});
			</script>
		</span>
		<% end %>

		<span id="<%=reputation_block_id %>" style="<%= reputation_block_style %>">Reputation: 
			<span id="<%= reputation_id %>"><%= reputation %></span>
		</span>

	</div>

	<% end %>

<!-- 	<hr />

	<div class="responses">
		TODO Comments
	</div> -->
</div>
