<div class="content-box point">
	<div class="actions">
		<% if user_signed_in? && current_user.id == point.user.id %>
	        <%= link_to 'Edit', edit_point_path(point) %>
	        &middot;
        	<%= link_to 'Delete', point_path(point),
                    :method => 'delete',
                    :data => { :confirm => 'Are you sure? This can\'t be undone!' } %>
		<% end %>
	</div>

	<div class="author">
		<%= link_to point.user.display_name, person_path(:id => point.user.username ) %><% unless point.accomplices.to_s.empty? %>, <%= h point.accomplices %><% end %>
		<br />
		<%= h point.moment %>; 
		<strong><%= h point.location %></strong>
	</div>

	<div class="description">
		<%= h point.description %>
	</div>

	<%- reputation = point.get_likes.size %>
	<%- reputation_id = 'reputation_'+point.id.to_s %>
	<%- reputation_block_id = 'reputation_block_'+point.id.to_s %>
	<%- reputation_block_style = '' %>
	<%- if reputation == 0 %>
		<%- reputation_block_style = 'display:none' %>
	<%- end %>

	<% if user_signed_in? %>
	<% unless reputation == 0 && (current_user.id == point.user.id) %>

	<hr />

	<div class="interactions">

		<% if user_signed_in? && current_user.id != point.user.id %>
		<span class="liking">

			<%- like_id = 'like_'+point.id.to_s %>
			<%- liked = current_user.liked? point %>
			<input type="hidden" id="liked_<%= point.id.to_s %>" value="<%= liked ? 'true' : 'false' %>"  />

			<%- ajax_params = {:id => point.id, :format => :json} %>
			<%= link_to (liked ? unlike_point_path(ajax_params) : like_point_path(ajax_params)), method: :get, class: 'btn_like', id: like_id, :remote => true do %><%= liked ? 'Unlike' : 'Like'%><% end %>

		</span>
		<% end %>

		<span id="<%=reputation_block_id %>" style="<%= reputation_block_style %>">Reputation: 
			<span id="<%= reputation_id %>"><%= reputation %></span>
		</span>

	</div>
	<% end %>
	<% end %>

</div>