<div class="hero content-box">
    <img src="<%=image_path('otpol_brand.png')%>" />
</div>

<div class="guest landing container">
	<div class="row">
		<div class="col-md-9">
			<%= render partial: 'points' %>
		</div>
		<div class="col-md-3">
			<%= render partial: 'login' %>
			<%= render partial: 'active_recently' %>
			<%= render partial: 'join' %>
		</div>
	</div>
</div>