<div class="landing container">
	<div class="row">
		<div class="col-md-9">
			<%= render partial: 'share_your_light' %>
			<%= render partial: 'points' %>
		</div>
		<div class="col-md-3">
			<%= render partial: 'notifications' %>
			<%= render partial: 'messages' %>
			<%= render partial: 'active_today' %>
			<%= render partial: 'chat' %>
			<%= render partial: 'newcomers' %>
		</div>
	</div>
</div>