<div class="landing container">
	<div class="row">
		<div class="col-md-3">
			<%= render partial: 'activity' %>
			<%= render partial: 'here_today' %>
			<%= render partial: 'newcomers' %>
			<%= render partial: 'footer' %>
		</div>
		<div class="col-md-9" id="points">
			<%= render partial: 'share_your_light' %>
			<%= render partial: 'points/point', collection: @points %>
		</div>
		<div class="col-md-9 col-md-offset-3 paginator">
			<div class="content-box">
				<%= paginate @points %>
			</div>
		</div>
	</div>
</div>