<div class="landing container">
	<div class="row">
		<div class="col-md-3">
			<%= render partial: 'active_recently' %>
			<%= render partial: 'newcomers' %>
			<%= render partial: 'footer' %>

			<span class="glyphicons glyphicons-candle"></span>
			
		</div>
		<div class="col-md-9">
			<%= render partial: 'share_your_light' %>
			<%= render partial: 'points' %>
		</div>
	</div>
</div>