<div class="container">
	<div class="row">
		<div class="col-md-3">

			<div class="content-box profile">

				<% unless @person.avatar_content_type.to_s.empty? %>
				<%= image_tag @person.avatar.url(:square) %>
				<% end %>

				<h3><%= @person.username %></h3>

				<% if current_user.id == @person.id %>
				<%= link_to 'Edit your profile', edit_person_url() %>
				<% end %>
			</div>

			<div class="content-box profile">

				<% [:bio, :mission, :motto].each do |blurb| %>
					<% unless @person.send(blurb).to_s.empty? %>
					<strong><%= blurb.capitalize %></strong><br />
					<p><%= h @person.send(blurb) %></p>
					<% end %>
				<% end %>

				<% unless @person.place_id.to_s.empty? %>
					<strong>Place</strong><br />
					<p>TODO format this<%= @person.place_id %></p>
				<% end %>

				<% if @person.email_is_public %>
					<strong>Email</strong><br />
					<p><a href="mailto:<%= @person.email %>"><%= @person.email %></a></p>
				<% end %>

				<% unless @person.website.to_s.empty? %>
					<strong>Website</strong><br />
					<p><a href="<%= @person.website %>"><%= @person.website %></a></p>
				<% end %>

				<strong>Joined on</strong><br />
				<p><%= @person.created_at.strftime("%B %d, %Y") %></p>

				<strong>Last seen</strong><br />
				<p><%= @person.last_sign_in_at.strftime("%B %d, %Y") %></p>

			</div>

		</div>

		<div class="col-md-9">

			<div class="content-box">

			Points

			</div>

		</div>
	</div>
</div>