<div class="profile container">
	<div class="row">
		<div class="col-md-3">

			<div class="content-box header">

				<%= image_tag @person.avatar.url(:square) %>

				<% unless @person.name.to_s.empty? %>
				<h2><%= @person.name %></h2>
				<% end %>

				<h3 class="username">@<%= @person.username %></h3>

				<% if user_signed_in? %>
					<% if current_user.id == @person.id %>

						<% if current_user.profile_completeness > 75 %>
							<%= link_to 'Edit your profile', edit_person_url(), class: 'btn btn-primary' %>
						<% else %>
							<%= link_to 'Complete your profile', edit_person_url(), class: 'btn btn-primary' %>
						<% end %>

					<% else %>
					    <% if current_user.is_following(@person) %>
						    <%= link_to 'Unfollow', unfollow_user_path(@person.username), class: "btn btn-default btn-edit" %>
					    <% elsif current_user.can_follow(@person) %>
						    <%= link_to 'Follow', follow_user_path(@person.username), class: "btn btn-primary btn-edit" %>
					    <% end %>
					<% end %>
				<% end %>
			</div>

			<div class="content-box">

				<div class="progress-container">
					<div style="width: <%= @person.point_percentage %>%"></div>
				</div>
				<p>Shares <%= number_with_delimiter @person.point_count %> points of light</p>

				<% [:bio, :mission, :motto, :affiliations, :place].each do |blurb| %>
					<% unless @person.send(blurb).to_s.empty? %>
					<strong><%= blurb.capitalize %></strong><br />
					<p><%= h @person.send(blurb) %></p>
					<% end %>
				<% end %>

				<% unless @person.website.to_s.empty? %>
				<strong>Website</strong><br />
				<p><a href="<%= h @person.website %>"><%= h @person.website %></a></p>
				<% end %>

				<% if @person.email_is_public %>
					<strong>Email</strong><br />
					<p><a href="mailto:<%= @person.email %>"><%= @person.email %></a></p>
				<% end %>

				<strong>Joined</strong><br />
				<p><%= @person.created_at.strftime("%B %d, %Y") %></p>

				<% if @person.last_seen_at %>
				<strong>Last seen</strong><br />
				<p><%= @person.last_seen_at.strftime("%B %d, %Y") %></p>
				<% end %>
			</div>


			<% if @person.following_count > 0 %>
 			<div class="content-box">
				<h3>Following</h3>
				<%= render partial: 'people/thumbnail', collection: @person.following.first(9) %>
			</div>
			<% end %>

			<% if user_signed_in? && current_user.id == @person.id %>
			<div class="content-box">
				<h3>Account</h3>
				<ul>
					<li><%= link_to "Settings", edit_user_registration_path %></li>
					<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>

					<!-- 
					<li><%= link_to "Blocked people", block_list_path %></li>
					<li><%= link_to 'Block user', block_user_path(@person.username), data: { confirm: "Are you sure you would like to block this user?" } %></li> 
					-->
				</ul>
			</div>
			<% end %>

			<div class="footer content-box profile">
				<%= render partial: 'elements/footer' %>
			</div>
		</div>

		<div class="col-md-9" id="points">

			<% if user_signed_in? && current_user.id == @person.id %>
			<div class="content-box">
			<%= render partial: 'points/new' %>
			</div>
			<% end %>

			<%= render partial: 'points/point', collection: @points %>

		</div>
		<div class="col-md-9 col-md-offset-3 paginator">
			<%= paginate @points %>
		</div>
	</div>
</div>