<!DOCTYPE html>
<html>
	<head>
		<title>One thousand points of light</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<%= render partial: 'layouts/favicons' %>
		<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.rss">
	</head>
	<body>

		<%= render partial: "elements/navbar" %>

		<div class="guest container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<%= bootstrap_flash %>
				</div>
			</div>
		</div>

		<%= yield %>
		
	</body>
</html>
